@page
@model WEB1001_Assignment1.Pages.IntroModel
@{
    ViewData["Title"] = "Intro";
}
<h3>Fikrath Hassan</h3>
<br />
<form method="GET">
    <label for="Number1">Number 1:</label>
    <input type="number" asp-for="Number1"><br />
    <label for="Number2">Number 2:</label>
    <input type="number" asp-for="Number2"><br />
    <input type="submit" value="Submit">
</form>
<br />
Output:<br />
1. @Model.Number1<br />
2. @Model.Number2<br /><br />
@section BelowBody {
<h5>This is a paragraph.</h5>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim mauris orci, quis interdum lectus ultricies ut. Maecenas augue erat, egestas luctus ipsum non, faucibus malesuada magna. Quisque varius volutpat ex, et fermentum nibh viverra ut. Nam tempus consectetur enim, in mollis ante. Nunc gravida ut est sed pretium. In laoreet eu augue in pellentesque. Proin vestibulum facilisis justo. Nullam eget tristique dui, nec interdum metus. Suspendisse pharetra rhoncus nisl, eget consequat dui. Praesent eu eros vitae metus lobortis pretium. Nulla laoreet diam eget erat dapibus, eu tempor lorem malesuada.
</p>
}